In [58]:
import pandas as pd

In [59]:
df = pd.read_csv(r'C:\Users\cocka\Downloads\archive\Loan.csv')

In [60]:
df.drop('Loan_ID',axis=1,inplace=True)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
list = ["Gender","Married","Education","Self_Employed","Property_Area","Loan_Status"]
for item in list:
    df[item] = le.fit_transform(df[item])

df.replace(to_replace='3+',value=3,inplace=True)

In [61]:
df.isnull().sum()
df.fillna(df.mean())

C:\Users\cocka\AppData\Local\Temp\ipykernel_1352\2720183121.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1
610,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,1
611,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1
612,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,1
613,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0

In [62]:
df.isnull().sum()
df.fillna(df.mean(),inplace=True)

C:\Users\cocka\AppData\Local\Temp\ipykernel_1352\3769272102.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True)

In [63]:
df.isnull().sum()

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [64]:
df.dropna(df,inplace=True)

C:\Users\cocka\AppData\Local\Temp\ipykernel_1352\345768129.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  df.dropna(df,inplace=True)

TypeError: unhashable type: 'DataFrame'

In [45]:
df.isnull().sum()

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [27]:
from sklearn.svm import SVC
sc = SVC(kernel='linear')
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [31]:
x.isnull().sum()

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
dtype: int64